*_standalone_sub.pdf
*.lof
*.lot
*.toc
logo/**/*.pdf
report/*.pdf
*/_standalone_tmp/*
*/chapter_*/*.pdf
*/chapter_*/section_*/*.pdf
*/tikzpics/**/*.pdf
*/chapter_*/tikzpics/**/*.pdf
*/chapter_*/section_*/tikzpics/**/*.pdf
*.tstp
*.aux
*.log
*/.lunatikz/dep_cache
*/.lunatikz/subfix_cache
*.bcf
*.bbl
*.blg
*.snm
*.out
*.nav
*.zip
present.pdf
*.run.xml
*.o
emcu/test/emcu
emcu/test/emcu_test_server
emcu/test/test_emcu
*/**/icon/*.png
*/**/icon/*.svg
*.stl
emcu/src/build/*
emcu/src/sdkconfig.old
emcu/src/sdkconfig.ci.esp32c2_xtal26m
misc
report/sig
*_standalone_*.tex
weekly/tmp.csv
weekly/week_*/*.pdf
weekly/template/*.pdf
weekly/template/*.zip
weekly/*/sig
weekly/progress/template/*.pdf
*.nav
*.out
*.snm
*/**/weekly.pdf
.DS_Store
*/**/.DS_Store
present/**/zeroth_presentation.pdf
