[submodule "report"]
	path = report
	url = https://github.com/thepenguinn/seed-incubator-report
[submodule "gmu"]
	path = gmu
	url = https://github.com/Aswatheertha/gmu
[submodule "emcu"]
	path = emcu
	url = https://github.com/thepenguinn/seed-incubator-emcu
